:root {
  --policy-color: #f5fccd;
  --background-color: #35155d;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--policy-color);
}
body {
  font-size: 1.6rem;
}
/* HEADER */
nav {
  background-color: var(--background-color);
  color: var(--policy-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav h2 {
  display: flex;
  align-items: center;
}
nav h2 img {
  width: 3.8rem;
  height: 3.8rem;
}
nav h2 a {
  font-size: 2rem;
  font-weight: 400;
  margin-left: -1rem;
}
.popup {
  width: 25rem;
  color: var(--policy-color);
  background-color: var(--background-color);
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.popup input {
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  outline: 0;
  border: 0;
  border-radius: 3rem;
  background-color: var(--policy-color);
  color: #35155d;
  font-size: 1.8rem;
}
.popup p {
  margin: 2rem 0;
  font-size: 2rem;
}
.popup button {
  width: 50%;
  border-radius: 3rem;
  padding: 0.5rem;
  background-color: var(--policy-color);
  color: #35155d;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
}
.popup-didacticiel {
  width: 25rem;
  color: var(--policy-color);
  background-color: var(--background-color);
  padding: 2rem 2rem;
  border-radius: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.popup-didacticiel p {
  width: 100%;
  line-height: 3rem;
  font-size: 2rem;
}
.displayPopup {
  visibility: visible;
}

.firstPart {
  background-image: url("img/default_fond.png");
  background-size: cover;
  height: 100vh;
}
section h1 {
  display: flex;
  font-size: 2rem;
  color: var(--policy-color);
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.informationBarre {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.informationBarre h2 {
  color: var(--policy-color);
  background-color: var(--background-color);
  border-radius: 2rem;
  padding: 0rem 1rem;
}
.didacticiel {
  background-color: var(--background-color);
  border-radius: 1.5rem;
  color: var(--policy-color);
  font-size: 1.25rem;
  padding: 0rem 0.75rem;
}
.voyage {
  background-color: var(--background-color);
  border-radius: 1.5rem;
  color: var(--policy-color);
  font-size: 1.25rem;
  padding: 0rem 0.75rem;
}
.rocket img {
  max-width: 100%;
  padding-top: 6rem;
  translate: all 0.6s;
  position: relative;
  cursor: pointer;
}
.rocket span {
  position: absolute;
  top: 38%;
  left: 50%;
  visibility: hidden;
  color: #35155d;
  font-size: 3rem;
  font-weight: 700;
}
.cliq {
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}
.rocket img:active {
  transform: translateY(-2rem);
}
.mulitplicateurs {
  background-color: lightblue;
  position: absolute;
  top: 35%;
  left: 95%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  opacity: 0.6;
}
.multiplicateur {
  background-color: #0273c5;
  color: var(--policy-color);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  padding-right: 3rem;
  list-style-type: none;
  opacity: 0.6;
  margin: 11rem;
}
.multiplicateur ul {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  align-items: center;
  width: 10rem;
}
.multiplicateur img {
  width: 3rem;
}
ul {
  display: flex;
  align-items: center;
}
footer {
  color: var(--policy-color);
  background-color: var(--background-color);
}
