:root {
    --policy-color: #F5FCCD;
    --bagckround-color: #35155D;
    font-size: 62.5%;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--policy-color);
}
body{
    font-size: 1.6rem;
}

nav {
    background-color: var(--bagckround-color);
    color: var(--policy-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
nav h2{
    display: flex;
    align-items: center;
}
nav h2 img{
    width: 3.8rem;
    height: 3.8rem;
}
nav h2 a{
    font-size: 2rem;
    font-weight: 400;
    margin-left: -1rem;
}
/* nav h1{
    display: flex;
    align-items: center;
}
nav h1::before{
    content: url("../img/logo.png");
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
} */
.firstPart{
    background-image: url("img/default_fond.png");
    background-size: cover;
}
section h1{
    display: flex;
    font-size:2rem ;
    color: var(--policy-color);
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.informationBarre{
    display: flex;
   justify-content: space-between;
   padding-top: 2rem;
}
.informationBarre h2{
    color: var(--policy-color);
    background-color: var(--bagckround-color);
    border-radius: 2rem;
    padding: 0rem 1rem;
} 
.didacticiel{
    background-color: var(--bagckround-color);
    border-radius: 1.5rem;
    color: var(--policy-color);
    font-size: 1.25rem;
    padding: 0rem 0.75rem
}
.voyage{
    background-color: var(--bagckround-color);
    border-radius: 1.5rem;
    color: var(--policy-color);
    font-size: 1.25rem;
    padding: 0rem 0.75rem
}
footer {
    color: var(--policy-color);
    background-color: var(--bagckround-color);
}