:root {
    --policy-color: #F5FCCD;
    --background-color: #35155D;
    font-size: 62.5%;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--policy-color);
}
img{
  max-width: 100%;
}
body{
    font-size: 1.6rem;
}

nav {
    background-color: var(--background-color);
    color: var(--policy-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
nav h2{
    display: flex;
    align-items: center;
}
nav h2 img{
    width: 3.8rem;
    height: 3.8rem;
}
nav h2 a{
    font-size: 2rem;
    font-weight: 400;
    margin-left: -1rem;
}
h1{
  text-align: center;
  font-size: 3rem;
  color: var(--policy-color);
  padding: 2rem;
}
section.game{
  background: url("img/default_fond.png");
  background-size: cover;
  height: calc(100vh - 58px);
  position: relative;
}
div.container{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}
button.tutorial, button.travel{
  background-color: var(--background-color);
  color: var(--policy-color);
  padding: 1rem 1rem;
  border: 0;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 3rem;
  cursor: pointer;
}
div.container h2{
  color: #F5FCCD;
}
.content{
  margin-top: 5rem;
  position: relative;
}
.rocket{
  flex: 3;
  position: relative;
}
.rocket img{
  cursor: pointer;
  transition: all 0.2s;
}
.rocket img:active {
  transform: translateY(-3rem);
}
.added-one{
  position: absolute;
  top: 38%;
  left: 50%;
  visibility: hidden;
  color:#35155d;
  font-size: 3rem;
  font-weight: 700;
}
.added-one-animation{
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.multiple{
  background-color: var(--background-color);
  flex: 1;
  position: relative;
  visibility: hidden;
  z-index: 2;
}

ul li{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
ul li img{
  width: 2.5rem;
}

.multiple span#close, .popup-tutorial span{
  color:#F5FCCD;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  padding: 0;
  font-size: 3rem;
  cursor: pointer;
}
.content button#open{
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
}
.popup {
  width: 25rem;
  color: var(--policy-color);
  background-color: var(--background-color);
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.popup input {
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  outline: 0;
  border: 0;
  border-radius: 3rem;
  background-color: var(--policy-color);
  color: #35155d;
  font-size: 1.8rem;
}
.popup p {
  margin: 2rem 0;
  font-size: 2rem;
}
.popup button {
  width: 50%;
  border-radius: 3rem;
  padding: 0.5rem;
  background-color: var(--policy-color);
  color: #35155d;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
}
.popup-tutorial {
  width: 25rem;
  color: var(--policy-color);
  background-color: var(--background-color);
  padding: 2rem 2rem;
  border-radius: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  cursor: pointer;
}
.popup-tutorial p {
  width: 100%;
  line-height: 3rem;
  font-size: 2rem;
}



footer {
    color: var(--policy-color);
    background-color: var(--background-color);
}